*{
    padding: 0;
    margin: 0;
}
.navBar{
    background-color: rgb(21, 20, 20);
    height: 180px;
    width: 100%;
}
.logo{
    display: flex;
    display: inline-block;
    height: 75%;
    margin-top: 16px;
    margin-right: 350px;
    margin-left: 250px;
}
.menu{
    display: flex;
    display: inline-block;
    width: 40vw;
}
li{
    display: flex;
    display: inline-block;
    list-style: none;
    margin-left: 15px;
    font-weight: 500;
    color: aliceblue;

}